@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добре Дошли</h1>
    <p class="p-4 font-monospace" style="font-size: large;">Ако искате да проверите информация за ППС-та изберете страница 'Превозни средства' или натиснете <a asp-area="" asp-controller="Vehicle" asp-action="All">тук</a>.</p>
</div>
