@model RegisterFormModel
@{
    ViewBag.Title = "Регистрация";
}
<div>
    @if (ViewData.ModelState.ErrorCount > 0)
    {
        <div asp-validation-summary="All"></div>
    }
</div>
<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-lg-9 col-xl-7">
                <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                    <div class="card-body p-4 p-md-5">
                        <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Регистрация</h3>
                        <form method="post" asp-controller="User" asp-action="Register">

                            <div class="row">
                                <div class="col-md-6 mb-4">

                                    <div data-mdb-input-init class="form-outline">
                                        <label class="form-label" for="firstName">Име</label>
                                        <input asp-for="FirstName" type="text" id="firstName" class="form-control form-control-lg" />
                                        <span class="text-danger" asp-validation-for="FirstName"></span>
                                    </div>

                                </div>
                                <div class="col-md-6 mb-4">

                                    <div data-mdb-input-init class="form-outline">
                                        <label class="form-label" for="lastName">Фамилия</label>
                                        <input asp-for="LastName" type="text" id="lastName" class="form-control form-control-lg" />
                                        <span class ="text-danger" asp-validation-for="LastName"></span>
                                    </div>

                                </div>
                            </div>

                            <div class="row">

                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-4 pb-2">

                                    <div data-mdb-input-init class="form-outline">
                                        <label class="form-label" for="password">Парола</label>
                                        <input asp-for="Password" type="password" id="password" class="form-control form-control-lg" />
                                        <span class="text-danger" asp-validation-for="Password"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4 pb-2">

                                    <div data-mdb-input-init class="form-outline">
                                        <label class="form-label" for="confirmPassword"> Потвърдете Парола</label>
                                        <input asp-for="ConfirmPassword" type="password" id="confirmPassword" class="form-control form-control-lg" />
                                        <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                                    </div>

                                </div>
                                <div class="col-md-6 mb-4 pb-2">

                                    <div data-mdb-input-init class="form-outline">
                                        <label class="form-label" for="emailAddress">Email</label>
                                        <input asp-for="Email" type="email" id="emailAddress" class="form-control form-control-lg" />
                                        <span class="text-danger" asp-validation-for="Email"></span>
                                    </div>

                                </div>
                                <div class="col-md-6 mb-4 pb-2">

                                    <div data-mdb-input-init class="form-outline">
                                        <label class="form-label" for="phoneNumber">Тел.Номер</label>
                                        <input asp-for="PhoneNumber" type="tel" id="phoneNumber" class="form-control form-control-lg" />
                                        <span class="text-danger" asp-validation-for="PhoneNumber"></span>
                                    </div>

                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-4 pb-2">

                                    <div data-mdb-input-init class="form-outline">
                                        <label class="form-label" for="isPersistent">Запомни ме</label>
                                        <input asp-for="IsPersistent" type="checkbox" id="isPersistent" />
                                        <span class="text-danger" asp-validation-for="IsPersistent"></span>
                                    </div>

                                </div>
                            </div>

                            <div class="mt-4 pt-2">
                                <input data-mdb-ripple-init class="btn btn-primary btn-lg" type="submit" value="Запази" />
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
