@model VehicleFormModel

@{
    ViewBag.Title = "Добавяне на МПС";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post" asp-controller="Vehicle" asp-action="Add">
            <div class="form-group">
                <label asp-for="VModel">Модел</label>
                <input asp-for="VModel" class="form-control" placeholder="Модел...">
                <span asp-validation-for="VModel" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegNumber">Рег.Номер</label>
                <input asp-for="RegNumber" class="form-control" placeholder="Рег.Номер...">
                <span asp-validation-for="RegNumber" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Area">Местност</label>
                <input asp-for="Area" class="form-control" placeholder="Местност...">
                <span asp-validation-for="Area" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Thirdpartyliabilityinsurance">Гражданска Отг.</label>
                <input asp-for="Thirdpartyliabilityinsurance" class="form-control" placeholder="Гражданска Отг. ...">
                <span asp-validation-for="Thirdpartyliabilityinsurance" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Casko">Каско</label>
                <input asp-for="Casko" class="form-control" placeholder="Каско...">
                <span asp-validation-for="Casko" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vignette">Винетка</label>
                <input asp-for="Vignette" class="form-control" placeholder="Винетка...">
                <span asp-validation-for="Vignette" class="small text-danger"></span>
            </div>
            <label>Клас на МПС-то</label>
            <select class="form-select" aria-label="Default select example" asp-for="VTypeId">
                @foreach (var item in Model.VTypes)
                {
                    <option value="@item.Id">@item.Name</option>
                }


            </select>

            <input class="btn btn-primary mt-3" type="submit" value="Добави" />
        </form>
    </div>
</div>
