@model VehicleDetailViewModel

@{
    ViewBag.Title = "Изстрий МПС";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<form asp-controller="Vehicle" asp-action="Delete">
    <h2 class="text-center">Сигурни ли сте, че искате да изтриете @Model.VModel с рег.номер @Model.RegNumber</h2>
    <div class="text-center">
    <input type="submit" value="Да" class="ml-2 btn btn-danger text-center" />    
    <a class="ml-2 btn btn-danger" asp-controller="Vehicle" asp-action="VehiclesDetails" asp-route-id="@Model.Id">Не</a>
     </div>
</form>

